#about {
    p {
        line-height: 1.6;
    }
    .btn-group {
        border: 1px solid rgba(255, 255, 255, .05);
        .btn {
            width: 100%;
            background-color: #2a2c47;
            color: #cacbd2;
            height: 47px;
            border-radius: 0;
            border-right: 1px solid rgba(255, 255, 255, .05);
            outline: 0;
            &:hover,
            &:focus,
            &.active {
                background-color: $orange;
                color: $dark;
            }
        }
    }
    #tab-wrapper {
        background-color: $dark-50;
        .inner-tab {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .services-item__icon {
        font-size: 45px;
        ;
    }
    .services-title {
        font-size: 20px;
        &:hover {
            color: $orange;
            font-size: 20px;
        }
    }
    .interview__item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .interview__item-img {
        width: 170px;
        height: 170px;
        object-fit: cover;
        border-radius: 14px;
    }
    .interview__item-content {
        padding: 0 15px;
        h3 {
            margin-top: 0;
            font-size: 20px;
            &:hover {
                color: $orange;
            }
        }
        a {
            position: relative;
            color: $orange;
            text-decoration: none;
            i {
                position: absolute;
                z-index: -1;
                right: 0;
                top: 5px;
                transition: 0.4s;
            }
            &:hover i {
                z-index: 1;
                right: -25px;
                transition: 0.4s;
            }
        }
    }
    .exibition__item {
        position: relative;
        transition: 0.5s;
        .exibition__item-wrapper {
            height: 250px;
            overflow: hidden;
            border-radius: 10px;
        }
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
            transition: 0.5s;
        }
        h3 {
            opacity: 0;
            position: absolute;
            bottom: -3px;
            left: 15px;
            right: 15px;
            padding: 45px 15px 30px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: linear-gradient(180deg, rgb(140 140 140 / 7%) 14%, rgb(0 0 0 / 77%));
        }
        &:hover h3 {
            opacity: 1;
            transition: 0.5s;
        }
        &:hover img {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}